@import 'reset';

.wrapper {
  background: #22313f;
  min-height: 100vh;
  position: relative;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;

  &__title {
    font-size: 50px;
    color: #f0c70f;
    cursor: pointer;
    user-select: none;
  }
}

.input,
.button {
  padding: 5px;
  font-size: 25px;
  background: inherit;
  border: 1px solid #fff;
  border-radius: 5px;
  outline: none;
  color: #fff;
}

.button {
  cursor: pointer;
}

.bottom {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
  grid-gap: 15px;
}

.spinner {
  display: none;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: solid 20px #ffe608;
  border-radius: 50%;
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation: spin 1s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg) scale(1.5);
  }

  100% {
    transform: rotate(360deg);
  }
}

.card {
  position: relative;

  &__img {
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      box-shadow: 0px 1px 43px 0px rgba(131, 73, 231, 0.46);
      height: 302px;
    }
  }

  &__rating {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 20px;
    border: 2px solid;
    border-radius: 50%;
    padding: 10px;
    background: #000;
    color: #fff;

    &.green {
      border-color: #5ef307;
    }

    &.orange {
      border-color: #f3db07;
    }

    &.red {
      border-color: #eb0b0b;
    }
  }

  &__title {
    font-size: 25px;
    color: #fff;
    margin: 10px 0;
  }

  &__genre {
    font-size: 15px;
    color: rgb(234, 250, 18)
  }
}

.show-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5) // background: rgb(128, 132, 136, .7);
}

.description {
  max-height: 150px;
  overflow-y: auto;
}

.show {
  display: flex;
  position: absolute;
  background: rgb(5, 11, 61);
  width: 700px;
  height: 600px;

  &__top-poster {
    width: 300px;
  }


  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    &-title {
      text-align: center;
      font-size: 40px;
      color: #fff;
      margin-bottom: 40px;
    }

    &-close {
      height: 35px;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      border: 2px solid #fff;
      border-radius: 50%;
      background: #000;
    }

    &-dscr {
      font-size: 20px;
      color: #fff;
      padding: 10px 30px;
    }
  }
}

.load__more {
  display: flex;
  justify-content: center;
  padding: 35px 0;

  // &-btn {
  //   display: none;
  // }
}

.error {
  text-align: center;
  font-size: 40px;
  color: rgb(255, 8, 8)
}

@import 'media';